node_modules
.next
out
build
.git
.gitignore
*.md
Dockerfile
docker-compose.yml
.env
.env.local
.env.production
.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
