services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        DATABASE_URL: ${DATABASE_URL}
        DIRECT_URL: ${DIRECT_URL}
    container_name: narinyland-app
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - PORT=3000
      - REDIS_URL=redis://redis:6379

  redis:
    image: redis:alpine
    container_name: narinyland-redis
    ports:
      - "6379:6379"
    restart: always

volumes:
  next_static:
